In [3]:
import pandas as pd

### 자가점유가구비율 통계
- 데이터 불러오기

In [34]:
df = pd.read_excel('07001 자가점유가구비율_202412.xlsx', engine='openpyxl', header = 5)

In [35]:
# 열 편집
df = df.iloc[:, 1:]
df['연도'] = df['Unnamed: 1']
df.drop('Unnamed: 1', axis =1, inplace = True)

In [36]:
df.columns

Index(['전국', '수도권', '광역시', '도지역', '서울', '부산', '대구', '인천', '광주', '대전', '울산',
       '세종', '경기', '강원', '충북', '충남', '전북', '전남', '경북', '경남', '제주', '연도'],
      dtype='object')

In [37]:
reg_cols = ['전국', '수도권', '광역시', '도지역', '서울', '부산', '대구', '인천', '광주', '대전', '울산',
       '세종', '경기', '강원', '충북', '충남', '전북', '전남', '경북', '경남', '제주']

In [40]:
# melt 함수로 구조 변경
df = df.melt(id_vars = ['연도'], value_vars = reg_cols)

In [46]:
df.columns = ['연도', '시도', '비율']

In [47]:
df

       연도  시도     비율
0    2006  전국   55.6
1    2008  전국   56.4
2    2010  전국   54.3
3    2012  전국   53.8
4    2014  전국   53.6
..    ...  ..    ...
268  2019  제주   58.1
269  2020  제주   58.6
270  2021  제주   56.6
271  2022  제주  56.84
272  2023  제주   57.1

[273 rows x 3 columns]

In [54]:
df.to_csv('자가점유가구비율/자가점유가구비율.csv', index = False)