### 주택 소유율이 높은 지역은 경제적으로 더 안정적이며 고용률이 높다.

In [50]:
import pandas as pd
import numpy as np
import warnings 
warnings.filterwarnings('ignore')

In [2]:
df_myhome = pd.read_csv('자가점유가구비율/자가점유가구비율.csv')
df_grdp = pd.read_csv('GRDP/GRDP_시도__20250721130128.csv')
df_emp_r = pd.read_csv('고용률/고용률_시도__20250721130434.csv')

### 자가점유가구비율

In [3]:
df_myhome

       연도  시도     비율
0    2006  전국   55.6
1    2008  전국   56.4
2    2010  전국   54.3
3    2012  전국   53.8
4    2014  전국   53.6
..    ...  ..    ...
268  2019  제주   58.1
269  2020  제주   58.6
270  2021  제주   56.6
271  2022  제주  56.84
272  2023  제주   57.1

[273 rows x 3 columns]

In [4]:
df_myhome['연도'].value_counts()

연도
2006    21
2008    21
2010    21
2012    21
2014    21
2016    21
2017    21
2018    21
2019    21
2020    21
2021    21
2022    21
2023    21
Name: count, dtype: int64

In [5]:
df_myhome['시도'].value_counts()

시도
전국     13
수도권    13
광역시    13
도지역    13
서울     13
부산     13
대구     13
인천     13
광주     13
대전     13
울산     13
세종     13
경기     13
강원     13
충북     13
충남     13
전북     13
전남     13
경북     13
경남     13
제주     13
Name: count, dtype: int64

In [6]:
df_myhome.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 273 entries, 0 to 272
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   연도      273 non-null    int64
 1   시도      273 non-null    object
 2   비율      273 non-null    object
dtypes: int64(1), object(2)
memory usage: 6.5+ KB

### GRDP

In [7]:
df_grdp

         시도별         경제활동별  항목       시점         데이터
0         전국  지역내총생산(시장가격)  실질     2005  1280590240
1         전국  지역내총생산(시장가격)  실질     2006  1349602329
2         전국  지역내총생산(시장가격)  실질     2007  1427963356
3         전국  지역내총생산(시장가격)  실질     2008  1465186371
4         전국  지역내총생산(시장가격)  실질     2009  1480808102
..       ...           ...  ..      ...         ...
329  제주특별자치도  지역내총생산(시장가격)  실질     2019    22951902
330  제주특별자치도  지역내총생산(시장가격)  실질     2020    21668785
331  제주특별자치도  지역내총생산(시장가격)  실질     2021    22346390
332  제주특별자치도  지역내총생산(시장가격)  실질     2022    23364427
333  제주특별자치도  지역내총생산(시장가격)  실질  2023 p)    24073959

[334 rows x 5 columns]

In [9]:
# 해당 데이터는 실질 grdp만 가져왔기 때문에 항목 칼럼에 의미가 없다.
# 경제활동별도 모두 같은 값을 가지기 때문에 칼럼에 의미가 없다.
# 해당 칼럼들을 제거한다.
df_grdp['항목'].value_counts()
df_grdp['경제활동별'].value_counts()
df_grdp.drop(['항목', '경제활동별'], axis = 1, inplace = True)

In [10]:
# 데이터의 칼럼을 통일한다.
df_grdp.columns = ['시도', '연도', 'GRDP']

In [11]:
df_grdp['시도'].value_counts()

시도
전국         19
서울특별시      19
부산광역시      19
대구광역시      19
인천광역시      19
광주광역시      19
대전광역시      19
울산광역시      19
경기도        19
강원특별자치도    19
전라남도       19
충청북도       19
충청남도       19
전북특별자치도    19
경상남도       19
경상북도       19
제주특별자치도    19
세종특별자치시    11
Name: count, dtype: int64

In [12]:
df_grdp['연도'].value_counts()

연도
2013       18
2015       18
2014       18
2022       18
2021       18
2023 p)    18
2020       18
2019       18
2018       18
2017       18
2016       18
2007       17
2006       17
2005       17
2012       17
2008       17
2009       17
2010       17
2011       17
Name: count, dtype: int64

In [13]:
df_grdp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 334 entries, 0 to 333
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시도      334 non-null    object
 1   연도      334 non-null    object
 2   GRDP    334 non-null    int64
dtypes: int64(1), object(2)
memory usage: 8.0+ KB

In [14]:
df_grdp.loc[df_grdp['연도'] == '2023 p)', '연도'] = 2023

In [15]:
df_grdp['연도'] = df_grdp['연도'].astype(int)

### 고용률

In [16]:
df_emp_r

      시도별    시점  성별   데이터
0       계  2005   계  59.9
1       계  2005  남자  71.9
2       계  2005  여자  48.6
3       계  2006   계  60.0
4       계  2006  남자  71.6
...   ...   ...  ..   ...
1039  제주도  2023  남자  75.5
1040  제주도  2023  여자  63.1
1041  제주도  2024   계  69.3
1042  제주도  2024  남자  74.6
1043  제주도  2024  여자  64.1

[1044 rows x 4 columns]

- 세 파일을 합하기 위해 성별요인은 제거한다.

In [17]:
df_emp_r2 = df_emp_r.loc[df_emp_r['성별'] == '계']

In [18]:
df_emp_r2.drop('성별', axis = 1, inplace = True)

In [19]:
df_emp_r2

      시도별    시점   데이터
0       계  2005  59.9
3       계  2006  60.0
6       계  2007  60.1
9       계  2008  59.8
12      계  2009  58.8
...   ...   ...   ...
1029  제주도  2020  67.1
1032  제주도  2021  67.4
1035  제주도  2022  69.9
1038  제주도  2023  69.2
1041  제주도  2024  69.3

[348 rows x 3 columns]

In [20]:
df_emp_r2.columns = ['시도', '연도', '고용률']

In [21]:
df_emp_r2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 348 entries, 0 to 1041
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시도      348 non-null    object
 1   연도      348 non-null    int64
 2   고용률     348 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 10.9+ KB

In [22]:
df_emp_r2 = df_emp_r2.loc[(df_emp_r2['연도'] >= 2005) & (df_emp_r2['연도'] <= 2023)]

In [23]:
y_list = list(df_myhome['연도'].value_counts().index)

In [24]:
df_grdp.loc[df_grdp['연도'].isin(y_list)]

          시도    연도        GRDP
1         전국  2006  1349602329
3         전국  2008  1465186371
5         전국  2010  1581956002
7         전국  2012  1677574227
9         전국  2014  1790169111
..       ...   ...         ...
329  제주특별자치도  2019    22951902
330  제주특별자치도  2020    21668785
331  제주특별자치도  2021    22346390
332  제주특별자치도  2022    23364427
333  제주특별자치도  2023    24073959

[230 rows x 3 columns]

In [25]:
df_grdp2 = df_grdp.loc[df_grdp['연도'].isin(y_list)]
df_er2 = df_emp_r2.loc[df_emp_r2['연도'].isin(y_list)]

In [26]:
standard_provinces = [
    '서울특별시', '부산광역시', '대구광역시', '인천광역시', '광주광역시',
    '대전광역시', '울산광역시', '세종특별자치시',
    '경기도', '강원도', '충청북도', '충청남도',
    '전라북도', '전라남도', '경상북도', '경상남도', '제주특별자치도'
]

province_map = {
    '전국': '전국',
    '서울': '서울특별시',
    '부산': '부산광역시',
    '대구': '대구광역시',
    '인천': '인천광역시',
    '광주': '광주광역시',
    '대전': '대전광역시',
    '울산': '울산광역시',
    '세종': '세종특별자치시',
    '경기': '경기도',
    '강원': '강원도',
    '충북': '충청북도',
    '충남': '충청남도',
    '전북': '전라북도',
    '전남': '전라남도',
    '경북': '경상북도',
    '경남': '경상남도',
    '제주': '제주특별자치도'
}

In [27]:
# 수도권, 광역시, 도지역 제거
df_myhome = df_myhome.loc[df_myhome['시도'].isin(['전국', '서울', '부산', '대구', '인천', '광주', '대전', '울산',
                                                '세종', '경기', '강원', '충북', '충남', '전북', '전남', '경북', '경남', '제주'])]

In [28]:
# 통일한 시도명으로 수정
df_myhome['시도'] = df_myhome['시도'].map(province_map)

In [29]:
df_myhome

       연도       시도     비율
0    2006       전국   55.6
1    2008       전국   56.4
2    2010       전국   54.3
3    2012       전국   53.8
4    2014       전국   53.6
..    ...      ...    ...
268  2019  제주특별자치도   58.1
269  2020  제주특별자치도   58.6
270  2021  제주특별자치도   56.6
271  2022  제주특별자치도  56.84
272  2023  제주특별자치도   57.1

[234 rows x 3 columns]

In [30]:
df_grdp2.loc[df_grdp2['시도'] == '강원특별자치도', '시도'] = '강원도'
df_grdp2.loc[df_grdp2['시도'] == '전북특별자치도', '시도'] = '전라북도'

In [31]:
list(df_grdp2['시도'].value_counts().index)

['전국',
 '서울특별시',
 '부산광역시',
 '대구광역시',
 '인천광역시',
 '광주광역시',
 '대전광역시',
 '울산광역시',
 '경기도',
 '강원도',
 '전라남도',
 '충청북도',
 '충청남도',
 '전라북도',
 '경상남도',
 '경상북도',
 '제주특별자치도',
 '세종특별자치시']

In [32]:
province_map = {
    '전국': '전국',
    '서울': '서울특별시',
    '부산': '부산광역시',
    '대구': '대구광역시',
    '인천': '인천광역시',
    '광주': '광주광역시',
    '대전': '대전광역시',
    '울산': '울산광역시',
    '세종': '세종특별자치시',
    '경기': '경기도',
    '강원': '강원도',
    '충북': '충청북도',
    '충남': '충청남도',
    '전북': '전라북도',
    '전남': '전라남도',
    '경북': '경상북도',
    '경남': '경상남도',
    '제주': '제주특별자치도'
}

In [33]:
df_er2.loc[df_er2['시도'] == '계', '시도'] = '전국'
df_er2.loc[df_er2['시도'] == '강원특별자치도', '시도'] = '강원도'
df_er2.loc[df_er2['시도'] == '전북특별자치도', '시도'] = '전라북도'
df_er2.loc[df_er2['시도'] == '제주도', '시도'] = '제주특별자치도'

In [34]:
list(df_er2['시도'].value_counts().index)

['전국',
 '서울특별시',
 '부산광역시',
 '대구광역시',
 '인천광역시',
 '광주광역시',
 '대전광역시',
 '울산광역시',
 '경기도',
 '강원도',
 '전라남도',
 '충청북도',
 '충청남도',
 '전라북도',
 '경상남도',
 '경상북도',
 '제주특별자치도',
 '세종특별자치시']

In [35]:
df_er2 = df_er2.reset_index(drop = True)

In [36]:
df_er2['연도'].value_counts(sort = False)

연도
2006    17
2008    17
2010    17
2012    17
2014    17
2016    17
2017    18
2018    18
2019    18
2020    18
2021    18
2022    18
2023    18
Name: count, dtype: int64

In [37]:
sum(df_grdp2.loc[(df_grdp2['연도'] >= 2006) & (df_grdp2['연도'] <= 2012)]['시도'] == '세종특별자치시')

0

In [38]:
sum(df_er2.loc[(df_er2['연도'] >= 2006) & (df_er2['연도'] <= 2016)]['시도'] == '세종특별자치시')

0

- GRDP의 경우 2006 ~ 2012년도 까지, 고용률의 경우 2006 ~ 2016년도 까지 데이터가 없다.
- 2012년도 세종시 출범 일을 고려하면 어느정도 맞음)
- 해당 데이터를 0을 채워 넣는다.

In [39]:
# 누락된 연도
missing_years = [2006, 2008, 2010, 2012]
sejong_rows = [{'시도': '세종특별자치시', '연도': y, 'GRDP': 0} for y in missing_years]

# 데이터프레임 생성 후 기존 df_grdp2에 추가
df_grdp2 = pd.concat([df_grdp2, pd.DataFrame(sejong_rows)], ignore_index=True)

# 정렬 및 인덱스 재설정
df_grdp2 = df_grdp2.sort_values(by=['시도', '연도']).reset_index(drop=True)

In [40]:
df_grdp2

       시도    연도      GRDP
0     강원도  2006  34913848
1     강원도  2008  37292997
2     강원도  2010  39343638
3     강원도  2012  40960113
4     강원도  2014  44455174
..    ...   ...       ...
229  충청북도  2019  77100362
230  충청북도  2020  75771650
231  충청북도  2021  80225958
232  충청북도  2022  83583153
233  충청북도  2023  83254787

[234 rows x 3 columns]

In [43]:
# 누락된 연도 (세종시: 2006 ~ 2016)
missing_years = [2006, 2008, 2010, 2012, 2014, 2016]  # 2006 ~ 2016 포함

# 추가할 행 생성
sejong_missing_rows = [{'시도': '세종특별자치시', '연도': year, '고용률': 0} for year in missing_years]

# DataFrame으로 만들고 병합
df_er2 = pd.concat([df_er2, pd.DataFrame(sejong_missing_rows)], ignore_index=True)

# 정렬
df_er2 = df_er2.sort_values(by=['시도', '연도']).reset_index(drop=True)

In [44]:
df_er2

       시도    연도   고용률
0     강원도  2006  58.3
1     강원도  2008  57.6
2     강원도  2010  56.0
3     강원도  2012  56.9
4     강원도  2014  56.9
..    ...   ...   ...
229  충청북도  2019  62.9
230  충청북도  2020  63.2
231  충청북도  2021  63.3
232  충청북도  2022  64.9
233  충청북도  2023  65.4

[234 rows x 3 columns]

In [51]:
df_myhome.loc[df_myhome['비율'] == '-', '비율'] = np.nan

In [54]:
df_myhome.fillna(0, inplace = True)

In [55]:
df_myhome.isna().sum()

연도    0
시도    0
비율    0
dtype: int64

In [ ]:
df_myhome.dtypes

- 결측에 해당하는 비율이 '-'로 되어있다. (isna()에 결측치로 잡히지 않음)
- 누락된 년도의 값이 결측치인 값을 모두 0으로 한다.

In [ ]:
df_myhome.loc[(df_myhome['연도'] >= 2006) & (df_myhome['연도'] <= 2012) & (df_myhome['시도'] == '세종특별자치시')]['비율'] = 0

In [ ]:
df_myhome.loc[(df_myhome['연도'] >= 2006) & (df_myhome['연도'] <= 2012) & (df_myhome['시도'] == '세종특별자치시')]['비율']

In [ ]:
df_myhome['비율'] = df_myhome['비율'].astype(float)

In [56]:
df_myhome.to_csv('전처리/자가점유가구비율_전처리.csv', index = False)
df_grdp2.to_csv('전처리/GRDP_전처리.csv', index = False)
df_er2.to_csv('전처리/고용률_전처리.csv', index = False)